extends layout

block title_name
  title Documentation - Splufp

block head_additional
  link(rel='stylesheet' href='/stylesheets/docs.css')
  link(rel='stylesheet' href='/stylesheets/code-editor.css')
  block doc_head_additional

block content-container
  // Get the ace editor script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.0/ace.min.js" integrity="sha512-e1Y1L6lY7YKDe+zseybZUG8MYUMLA1jxMQAPJqRYiA4L8NPaXfW+h52QQTLurHW4w3b21LxH/u1sZYMBtoB70w==" crossorigin="anonymous" referrerpolicy="no-referrer")
  

  script(src='/javascripts/editor.js')

  div(class='d-flex flex-row align-items-stretch no-overflow-x row fill-width-vw')


    // variables for generating the next and previous links
    - var next_link = false
    - var prev_link = false


    // Generates the sidebar drop-downs for the documentation page
    if sidebar
      div(class='d-inline-flex flex-column col-sm-3 sidebar-container')
        
        // variables for helping set previous and next links
        - var have_prev_link = false
        - var get_next_link = false

        - var have_header = false
        - var collapseId = 0
        for link in sidebar
          ul(class='dropdown-menu show light sidebar' style='margin: 10px 10px; position: relative;')
            // Only add a header if we have one 
            if link.header
              - collapseId += 1
              - have_header = true
              li(class='dropdown-header-list')
                a(class='dropdown-item responsive nav-hover-hint light inactive'
                  data-bs-toggle='collapse'
                  data-bs-target=`#collapse${collapseId}`
                  aria-expanded='false'
                  aria-controls=`collapse${collapseId}`
                  href='#'
                  )=link.header

            if link.children
              - var first_link = true
              for child in link.children

                if get_next_link
                  // do not get the next link again
                  - get_next_link = false
                  - next_link = child

                - var list_class = 'dropdown-list-elem'

                if first_link
                  - first_link = false
                  - list_class += ' dropdown_after_header'
                if have_header
                  - list_class += ' collapse'
                li(class=`${list_class}` id=`collapse${collapseId}`)
                  // Set up the correct highlighting and href for the links
                  // The current page is always highlighted and unable to be clicked
                  if active_link == child.link
                    a(class='active nav-hover-hint light dropdown-item responsive')= child.name

                    // allow getting next link
                    - get_next_link = true

                    // stops us overriding the previous link
                    - have_prev_link = true
                  else
                    a(class='inactive nav-hover-hint light dropdown-item responsive' href=child.link)= child.name
                if !have_prev_link
                  - prev_link = child



    // add the content container
    div(class='d-inline-flex flex-column justify-content-start col-sm-9' style='padding: 10px 10vw 10px;')
      block doc_content
      div(class='d-inline-flex flex-row justify-content-between' style='margin-top: 30px;')
        if prev_link
          a(class='prev-link' href=prev_link.link)= prev_link.name 
        else
          // placeholder to preserve formatting
          div
            p(style='display: none;') There is no previous link to go to

        if next_link
          // we do not need a formatting preserver for this one because it doesn't affect anything if it is gone
          a(class='next-link' href=next_link.link)= next_link.name
